{% extends "base.html" %}

{% block maintitle %}I18N_ABOUT_PAGE_TITLE{% endblock maintitle %}

{% block header_js %}
  {{ super() }}

  <style>
    html, body {
      background-color: #eee;
    }
  </style>
{% endblock %}

{% block navbar_breadcrumb %}
  <ul class="nav navbar-nav oppia-navbar-breadcrumb">
    <li>
      <span class="oppia-navbar-breadcrumb-separator"></span>
      About
    </li>
  </ul>
{% endblock navbar_breadcrumb %}

{% block content %}
  <div class="oppia-about-header">
    <h1>Join a Community of Learners and Teachers</h1>
  </div>

  <div class="oppia-page-card oppia-about-content">
    <div class="about-nav oppia-profile-tabs md-tab">
      <ul class="oppia-about-tabs">
        <li class="oppia-profile-tabs oppia-about-tabs-active">
          <a class="oppia-about-tabs-text" href="about">About</a>
        </li>
        <li class="oppia-profile-tabs">
          <a class="oppia-about-tabs-text" href="foundation" name="foundation">Foundation</a>
        </li>
        <li class="oppia-profile-tabs">
          <a class="oppia-about-tabs-text" href="credits" name="credits">Credits</a>
        </li>
      </ul>
    </div>

    <div class="about-tab-container">
      <div class="about oppia-about-tab-content oppia-about-visible-content">
        <div class="oppia-about-card-content-wide oppia-about-card-content-narrow">
          <div class="pull-right">
            <em>Oppia "O-pee-yah" (Finnish) - "to learn"</em>
          </div>
          <br>
          <p>
            <strong>Oppia's mission</strong>: To help anyone learn anything
            they want in an effective and enjoyable way.
          </p>

          <p>
            How do pendulums work? Is light a particle or a wave? What is art?
            Can you explain topics like these to a student who wants to learn
            more? If so, you can use Oppia's unique technology to recreate 1-on-1
            tutoring and reach students around the world by creating and sharing
            a single piece of learning material.
          </p>

          <p>
            With Oppia, you can create <em>explorations</em> that help students
            learn in a fun and creative way, using videos, images, and open-ended
            questions. Since students often have similar misconceptions, Oppia
            also helps you organize these so that you can give targeted feedback
            to multiple students at a time.
          </p>

          <p>
            By teaching with Oppia, you can improve your skills in
            communication and empathy while helping to improve education for
            students around the world. You can also apply to join our
            <a href="/teach">Teach with Oppia</a> program, aimed at providing
            lessons for topics that students typically find difficult. Or, if
            you're not ready to teach yet, you can still share feedback on
            lessons to help make them better for other students!
          </p>

          <p>
            Whether you're a K-12 educator, a graduate student, or an
            individual who's passionate about a specific subject and wants to
            share your knowledge, Oppia welcomes you. Join the community and
            start exploring with us.
          </p>

          <div class="oppia-about-card-content-wide oppia-about-three-cols-container">
            <div class="oppia-about-three-cols-layout oppia-about-three-cols-feature">
              <img ng-src="<[getStaticImageUrl('/general/creator-create-exp.png')]>">
              <h3>Create an Exploration</h3>
              <p style="margin-top: -10px;">
                about a topic you care about.
              </p>
            </div>
            <div class="oppia-about-three-cols-layout oppia-about-three-cols-feature">
              <img ng-src="<[getStaticImageUrl('/general/creator-pub-share.png')]>">
              <h3>Publish &amp; Share</h3>
              <p style="margin-top: -10px;">
                your creations with the community.
              </p>
            </div>
            <div class="oppia-about-three-cols-layout oppia-about-three-cols-feature">
              <img ng-src="<[getStaticImageUrl('/general/creator-feedback.png')]>">
              <h3>Earn feedback</h3>
              <p style="margin-top: -10px;">
                to improve your exploration.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="foundation oppia-about-tab-content">
        <div class="oppia-about-card-content-wide oppia-about-card-content-narrow">
          <h2>The Oppia Foundation</h2>
          <p>
            The Oppia website and source code are supported by the Oppia Foundation,
            a tax-exempt 501(c)(3) non-profit organization registered in the State of California.
          </p>
          <p>
            The directors of the Foundation are Amit Deutsch, Jacob Davis, and Sean Lip.
            The Foundation's
            <a href="https://drive.google.com/folderview?id=0B9KSjiibL_WDfjlpUUpqampZSTBOTmRqM2IyaGN3R3NlVWstZlhKcjlZQ3VMTHJBQWNGTFU&usp=sharing"
            class="inline-links">bylaws and minutes</a>
            are available to read. If you wish to contact the Foundation, please email:
            <a href="mailto:admin@oppia.org" class="inline-links">admin@oppia.org</a>.
          </p>
          <h3>License</h3>
          <p>
            All content in Oppia's explorations is licensed under
            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="inline-links">CC-BY-SA 4.0</a>
            with a waiver of the attribution requirement (specifically, Sections 3(a)(1) and
            3(a)(2)). If you reuse content from this site, we encourage you to include a link
            to the relevant exploration page, but do not require it.
          </p>
          <p>
            The software powering Oppia is open source, and its
            <a href="https://github.com/oppia/oppia/" class="inline-links">code</a> is released under an
            <a href="https://www.apache.org/licenses/" class="inline-links">Apache 2.0</a> license.
          </p>
        </div>
      </div>

      <div class="credits oppia-about-tab-content">
        <div class="oppia-about-card-content-wide">
          <h2>Credits</h2>
          <p>
            Oppia's contributors come from all over the world -- many of us are
            students, recent students and teachers. We'd like to thank the
            following contributors who've helped to build the platform. If
            you'd like to help, join us on
            <a href="https://github.com/oppia/oppia">GitHub</a>!
          </p>
          <div class="oppia-about-credits-letter-groups three-col">
            <span>A</span>
            <ul>
              <li>Abhay Raizada</li>
              <li>Abhijit Suresh</li>
              <li>Abraham Mgowano</li>
              <li>Alex Gower</li>
              <li>Allan Zhou</li>
              <li>Amit Deutsch</li>
              <li>Ana Francisca Bernardo</li>
              <li>Andrew Low</li>
              <li>Andrey Mironyuk</li>
              <li>Angela Park</li>
              <li>Anggoro Dewanto</li>
              <li>Anmol Shukla</li>
              <li>Arun Kumar</li>
              <li>Arunabh Ghosh</li>
              <li>Avijit Gupta</li>
            </ul>

            <span>B</span>
            <ul>
              <li>Barnabas Makonda</li>
              <li>Ben Henning</li>
              <li>Ben Targan</li>
              <li>BJ Voth</li>
              <li>Bolaji Fatade</li>
              <li>Brenton Briggs</li>
            </ul>

            <span>C</span>
            <ul>
              <li>Charisse De Torres</li>
              <li>Chase Albert</li>
              <li>Chin Zhan Xiong</li>
            </ul>

            <span>D</span>
            <ul>
              <li>Debanshu Bhaumik</li>
              <li>Deepank Agarwal</li>
            </ul>

            <span>E</span>
            <ul>
              <li>Edward Allison</li>
              <li>Elizabeth Kemp</li>
              <li>Estelle Lee</li>
            </ul>

            <span>F</span>
            <ul>
              <li>Frederik Creemers</li>
            </ul>

            <span>G</span>
            <ul>
              <li>Grace Guo</li>
            </ul>

            <span>H</span>
            <ul>
              <li>Hamza Chandad</li>
              <li>Hitesh Sharma</li>
              <li>Huong Le</li>
            </ul>

            <span>J</span>
            <ul>
              <li>Jackson Wu</li>
              <li>Jacob Davis</li>
              <li>Jakub Osika</li>
              <li>Jasper Deng</li>
              <li>Jaysinh Shukla</li>
              <li>Jeremy Emerson</li>
              <li>Jérôme (zolk232)</li>
              <li>Jerry Chen</li>
              <li>John Glennon</li>
              <li>Joshua Cano</li>
              <li>Joshua Lusk</li>
            </ul>

            <span>K</span>
            <ul>
              <li>Karen Rustad</li>
              <li>Kathryn Patterson</li>
              <li>Kenneth Ho</li>
              <li>Kerry Wang</li>
              <li>Kevin Lee</li>
              <li>Kevin Thomas</li>
              <li>Koji Ashida</li>
              <li>Kristin Anthony</li>
              <li>Kumari Shalini</li>
            </ul>

            <span>M</span>
            <ul>
              <li>Madiyar Aitbayev</li>
              <li>Manas Tungare</li>
              <li>Marcel Schmittfull</li>
              <li>Mark Cabanero</li>
              <li>Mark Halpin</li>
              <li>Michael Anuzis</li>
              <li>Michael Mossey</li>
              <li>Michael Wagner</li>
              <li>Milagro Teruel</li>
              <li>Mungo Dewar</li>
            </ul>

            <span>O</span>
            <ul>
              <li>Oskar Cieslik</li>
              <li>Oswell Chan</li>
              <li>Owen Parry</li>
            </ul>

            <span>P</span>
            <ul>
              <li>Phil Wagner</li>
              <li>Philip Hayes</li>
              <li>Phillip Moulton</li>
              <li>Prasanna Patil</li>
            </ul>

            <span>R</span>
            <ul>
              <li>Raine Hoover</li>
              <li>Rajat Patwa</li>
              <li>Rajendra Kadam</li>
              <li>Reinaldo Aguiar</li>
              <li>Reto Brunner</li>
              <li>Richard Cho</li>
            </ul>

            <span>S</span>
            <ul>
              <li>Samara Trilling</li>
              <li>Santos Hernandez</li>
              <li>Sanyam Khurana</li>
              <li>Satwik Kansal</li>
              <li>Scott Junner</li>
              <li>Sean Lip</li>
              <li>Sebastian Zangaro</li>
              <li>Seth Beckman</li>
              <li>Shafqat Dulal</li>
              <li>Shantanu Bhowmik</li>
              <li>Shouvik Roy</li>
              <li>Sourav Badami</li>
              <li>Sreenivasulu Giritheja</li>
              <li>Stephanie Federwisch</li>
              <li>Stephen Chiang</li>
            </ul>

            <span>T</span>
            <ul>
              <li>Tarashish Mishra</li>
              <li>Timothy Cyrus</li>
              <li>Travis Shafer</li>
              <li>Truong Kim</li>
              <li>Tuguldur Baigalmaa</li>
            </ul>

            <span>U</span>
            <ul>
              <li>Umesh Singla</li>
            </ul>

            <span>V</span>
            <ul>
              <li>Viraj Prabhu</li>
              <li>Vishal Gupta</li>
              <li>Vishal Joisar</li>
            </ul>

            <span>W</span>
            <ul>
              <li>Wilson Hong</li>
            </ul>

            <span>X</span>
            <ul>
              <li>Xinyu Wu</li>
            </ul>

            <span>Y</span>
            <ul>
              <li>Yana Malysheva</li>
              <li>Yi Yan</li>
              <li>Yousef Hamza</li>
              <li>Yuan Gu</li>
            </ul>

            <span>Z</span>
            <ul>
              <li>Zoe Madden-Wood</li>
            </ul>
          </div>
          <p>
            The Oppia development team is also grateful for the feedback, ideas,
            help and suggestions by Alex Kauffmann, Allison Barros, Amy Latten,
            Brett Barros, Crystal Kwok, Daniel Hernandez, Divya Siddarth, John Cox,
            John Orr, Katie Berlent, Michael Wawszczak, Mike Gainer, Neil Fraser,
            Noah Falstein, Nupur Jain, Peter Norvig, Philip Guo, Piotr Mitros,
            Rachel Chen, Rahim Nathwani, Robyn Choo, Tricia Ngoon,
            Vikrant Nanda, Vinamrata Singal and Yarin Feigenbaum.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="oppia-about-extra-container" ng-controller="About">
    <div class="oppia-about-extra-content oppia-about-clearfix">
      <div class="oppia-about-otter-container">
        <img ng-src="<[aboutPageMascotImgUrl]>" class="oppia-about-otter" alt="Otter">
      </div>
      <div class="oppia-about-otter-speech-card">
        <blockquote class="oppia-about-otter-speech-bubble">
          <h3>What would you like to do today?</h3>
        </blockquote>
      </div>
    </div>

    <div class="oppia-about-extra-info oppia-about-page-extra-info">
      <div class="oppia-about-content oppia-about-extra-content">
        <div class="oppia-about-card-content-wide oppia-about-card-content-narrow oppia-about-buttons-container">
          <a href="/library" class="btn oppia-about-button">I want to learn</a>
          <a href="/teach" class="btn oppia-about-button">I want to teach</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      var activeTabClass = 'oppia-about-tabs-active';
      var hash = window.location.hash.slice(1);
      var visibleContent = 'oppia-about-visible-content';

      function activateTab(tabName) {
        $("a[name='" + tabName + "']").parent().addClass(
          activeTabClass
        ).siblings().removeClass(activeTabClass);
        $('.' + tabName).addClass(visibleContent).siblings().removeClass(
          visibleContent);
      }

      if (hash === 'foundation') {
        activateTab('foundation');
      }

      if (hash === 'credits') {
        activateTab('credits');
      }

      window.onhashchange = function() {
        var hashChange = window.location.hash.slice(1);
        if (hashChange === 'foundation') {
          activateTab('foundation');
        } else if (hashChange === 'credits') {
          activateTab('credits');
        }
      };

      $('.oppia-about-tabs li').on('click', function(evt) {
        evt.preventDefault();
        $(this).addClass(activeTabClass).siblings().removeClass(activeTabClass);
        var currentAttrVal = $(this).children('a').attr('href');
        $('.' + currentAttrVal).addClass(visibleContent).siblings().removeClass(
          visibleContent);
      });
    });
  </script>
{% endblock %}

{% block footer_js %}
  {{ super() }}
  <script src="{{TEMPLATE_DIR_PREFIX}}/pages/About.js"></script>
{% endblock footer_js %}

{% block footer%}
  {% include 'footer.html' %}
{% endblock %}
